In [394]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,PoissonRegressor
from collections import defaultdict

In [395]:
path ='traffic_accidents.csv'
data = pd.read_csv(path)

In [396]:
data.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2021,202101,NaN,28.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2021,202102,NaN,40.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2021,202103,NaN,27.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2021,202104,NaN,26.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2021,202105,NaN,40.0,NaN,NaN,NaN

In [397]:
#keep just the first five columns
columns = data.columns
data.drop(columns[5:len(columns)+1], axis=1,inplace=True)

In [398]:
#format month so that the column has only from 0-12
data['MONAT'] = data['MONAT'].apply(lambda x: x[-2:])
data = data.loc[data['MONAT'] != 'me']
data['MONAT'] = data['MONAT'].apply(lambda x: int(x))

In [399]:
data.head()

       MONATSZAHL AUSPRAEGUNG  JAHR  MONAT  WERT
0  Alkoholunfälle   insgesamt  2021      1   NaN
1  Alkoholunfälle   insgesamt  2021      2   NaN
2  Alkoholunfälle   insgesamt  2021      3   NaN
3  Alkoholunfälle   insgesamt  2021      4   NaN
4  Alkoholunfälle   insgesamt  2021      5   NaN

In [400]:
#drop rows in year 2021
data = data.loc[data['JAHR'] != 2021]

In [401]:
data.head()

        MONATSZAHL AUSPRAEGUNG  JAHR  MONAT  WERT
13  Alkoholunfälle   insgesamt  2020      1  28.0
14  Alkoholunfälle   insgesamt  2020      2  40.0
15  Alkoholunfälle   insgesamt  2020      3  27.0
16  Alkoholunfälle   insgesamt  2020      4  26.0
17  Alkoholunfälle   insgesamt  2020      5  40.0

In [402]:
#check for empty values
data.isnull().values.any()

False

In [404]:
data

           MONATSZAHL             AUSPRAEGUNG  JAHR  MONAT   WERT
13     Alkoholunfälle               insgesamt  2020      1   28.0
14     Alkoholunfälle               insgesamt  2020      2   40.0
15     Alkoholunfälle               insgesamt  2020      3   27.0
16     Alkoholunfälle               insgesamt  2020      4   26.0
17     Alkoholunfälle               insgesamt  2020      5   40.0
...               ...                     ...   ...    ...    ...
1990  Verkehrsunfälle  Verletzte und Getötete  2000      8  647.0
1991  Verkehrsunfälle  Verletzte und Getötete  2000      9  675.0
1992  Verkehrsunfälle  Verletzte und Getötete  2000     10  615.0
1993  Verkehrsunfälle  Verletzte und Getötete  2000     11  578.0
1994  Verkehrsunfälle  Verletzte und Getötete  2000     12  515.0

[1764 rows x 5 columns]

In [405]:
y = data.iloc[:,4].to_numpy()

In [406]:
#encode categorical values
le = preprocessing.LabelEncoder()
oe = preprocessing.OrdinalEncoder()
ohe = preprocessing.OneHotEncoder()
data_features = data.iloc[:,0:4]
#data_features.apply(le.fit_transform)

In [407]:
#encode the data since all features are all categorical
X = ohe.fit_transform(data_features)

In [408]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
#X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

In [409]:
#fit the X_train with y_train
pr = PoissonRegressor()
pr.fit(X_train,y_train)

PoissonRegressor()

In [411]:
y_test_pred = pr.predict(X_test)
mae = sum(abs(y_test_pred - y_test)) / y_test.shape[0]

In [412]:
mae

81.69818556209425

In [413]:
train_score = pr.score(X_train, y_train)
test_score = pr.score(X_test, y_test)

In [414]:
train_score

0.9821668491176615

In [415]:
test_score

0.9862055215469971